<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hacobot</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
    <link href='/static/fullcalendar.css' rel='stylesheet' />
    <link href='/static/fullcalendar.print.css' rel='stylesheet' media='print' />
</head>

<body>

    <div id="wrapper">

<div class="navbar-default sidebar" role="navigation" style="position: fixed; top: 0; margin-top: 0px">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search Courses">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                    </ul>
                    <ul class="nav" id="side-menu" style="width: 250px; position: fixed; top: 63px; bottom: 85px; overflow: auto;">
                        <li class="active">
                            <a href="#" style="font-size:16px"><i class="fa fa-pencil fa-fw"></i> Courses</a>
                            <ul class="nav nav-second-level" id="side-courses">
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                    </ul>
					<ul class="nav" id="side-menu" style="width: 250px; position: fixed; bottom: 10px;">
                        <li class="active" style="bottom: 0; text-align: center; margin: 0px; border-bottom-width: 0">
							<button type="button" class="btn btn-default" style="margin-bottom: 5px; width: 200px" id="customizeBtn"  data-toggle="modal" data-target="#myModal">Customize</button><br/>
							<button type="button" class="btn btn-default" style=" width: 200px" id="generateBtn">Generate</button>
                        </li>
					</ul>
                </div>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Customize Preferences</h4>
				      </div>
				      <div class="modal-body">
						  <form class="form-inline">
						    <div class="form-group">
						      <label>Start Semester</label>

							  <select  class="form-control" name="startSem" id="startSem">>
								<option value="S15" selected="selected">S15</option>
								<option value="F15">F15</option>
								<option value="S16">S16</option>
								<option value="F16">F16</option>
								<option value="S17">S17</option>
								<option value="F18">F18</option>
								<option value="S18">S18</option>
							  </select>
						    </div>
						    <div class="form-group">
						      <label> To End Semester</label>
							  <select  class="form-control" name="endSem" id="endSem">
								<option value="S15">S15</option>
								<option value="F15">F15</option>
								<option value="S16">S16</option>
								<option value="F16">F16</option>
								<option value="S17">S17</option>
								<option value="F18">F18</option>
								<option value="S18" selected="selected">S18</option>
							  </select>
						    </div>
						  </form>
						  <br/>
						  <form class="form-inline">
						    <div class="form-group">
						      <label>Starting time: </label>
						      <input type="text" class="form-control" name="startingTime" id="startingTime"  value="09:00:00">
						    </div>
						  </form>
						  <br/>
						  <form class="form-inline">
						    <div class="form-group">
						      <label>Free Days: </label>
						      <input type="text" class="form-control" name="freeDays" id="freeDays" value="">
						    </div>
						  </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Welcome!</h1>
						To proceed, please paste your academic audit here.
						<form method="POST" action="/courses/">
							{% csrf_token %}
                        	<textarea class="form-control" rows="20" value="{{ source.audit }}" name="audit"></textarea>
							<button type="submit" class="btn btn-default" style="text-align: center; margin-top: 10px">Submit!</button>
						</form>
						<img src="/static/robot5.png" width="200"></img>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    

    <!-- Custom Theme JavaScript -->
    
    <script src='/static/lib/moment.min.js'></script>

     <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src='/static/fullcalendar.min.js'></script>
    <script src="/static/dist/js/sb-admin-2.js"></script>
    <script>
        function populateSelCourses() {
            $('a[id^="page-course-"]').removeClass('active');
            $('#side-courses').empty();
            for (var course in localStorage) {
                $('#' + course).addClass('active');

                $('#side-courses').append('<li class="bs-callout bs-callout-warning"><a href="#" style="font-size:15px" onclick="deleteCourse(\'' + course + '\')" data-coursenum="' + course.replace("page-course-","") + '">' + course.replace('page-course-', '') + '<span class="fa fa-times pull-right"></span></a></li>');
				
            }
        }
        function deleteCourse(course) {
            localStorage.removeItem(course);
            populateSelCourses();
        }
        $(function () {
            populateSelCourses();
            $('a[id^="page-course-"]').click(function (e) {
                var id = $(this).attr('id');
                if (localStorage[id]) localStorage.removeItem(id);
                else localStorage[id] = true;
                populateSelCourses();
            });
            // Contain the popover within the body NOT the element it was called in.
			$('[data-toggle="popover"]').popover({
			    container: 'body'
			});
			
			$("#generateBtn").click(function(e){
				console.log($("#startSem").val());
				console.log($("#endSem").val());
				console.log($("#startingTime").val());
				console.log($("#freeDays").val());
				// Send the data using post
				$("#i_startSem").val($("#startSem").val());
				$("#i_endSem").val($("#endSem").val());
				$("#i_startingTime").val($("#startingTime").val());
				$("#i_freeDays").val($("#freeDays").val());
				$("#i_taken").val(JSON.stringify($("#fulfilled a").map(function(){
					return $(this).data("coursenum");
				}).get()));
				$("#i_courses").val(JSON.stringify($("#side-courses a").map(function(){
									return String($(this).data("coursenum"));
								}).get()));
				$("#generateSchedule").submit();
			});
        });
    </script>
	<form action="/schedule/" method="POST" id="generateSchedule" name="generateSchedule">
		{% csrf_token %}
		<input type="hidden" name="startSem" id="i_startSem"></input>
		<input type="hidden" name="endSem" id="i_endSem"></input>
		<input type="hidden" name="startingTime" id="i_startingTime"></input>
		<input type="hidden" name="freeDays" id="i_freeDays"></input>
		<input type="hidden" name="courses" id="i_courses"></input>
		<input type="hidden" name="taken" id="i_taken"></input>
	</form>
</body>

</html>
